#Header {
    color: rgba(35, 96, 34, 1);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

#Header-Scrolled {
    background-color: rgba(35, 96, 34, 1);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.Header-Container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 88%;
    margin: 0px auto;
    padding: 1vh 1vw;
}

#Navigation-Bar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#Navigation-Bar li {
    margin: 0 1vw;
    font-size: 1.5em;
}

#Navigation-Bar li:hover {
    margin: 0 1vw;
    font-weight: bold;
}

#LoginCart {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#LoginCart button {
    margin: 0px .5vw;
    font-size: 1.2em;
    background-color: rgba(35, 96, 34, 1);
    color: white;
    padding: .5vw 1vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}