#Header {
    color: var(--MainColor);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

#Header-Scrolled {
    background-color: var(--MainColor);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}


.Header-Container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 88%;
    margin: 0px auto;
    padding: 1vh 1vw;
}

#Navigation-Bar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#Navigation-Bar li {
    margin: 0 1vw;
    font-size: 1.5rem;
}

#Navigation-Bar li:hover {
    margin: 0 1vw;
    font-weight: bold;
}

#LoginCart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
}

#LoginCart p,
#LoginCart a {
    color: var(--MainColor);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
}

#LoginCart .Scrolled-Login {
    color: white;
}