#Header {
    background-color: rgba(35, 96, 34, 1);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    top: 0;
    z-index: 10;
    align-items: center;
    padding: 2vh 1vw;
    color: white;
}

#Navigation-Bar {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#Navigation-Bar li {
    margin: 0 10px;
}

#LoginCart {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

#LoginCart p {
    margin: 0px 10px;
}