#Header-Image {
  width: 100%;
  height: 50vw;
  overflow: hidden;
  z-index: 1;
}

#Header-Image img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transform: scaleX(-1);
}

#Header-Texts {
  z-index: 2;
  position: absolute;
  top: 13vw;
  left: 7%;
  text-align: left;
  animation: Pan-In 1.2s ease-out;
}

#Title {
  width: 36vw;
  text-align: left;
  z-index: 2;
  color: var(--MainColor);
  font-size: 3.5rem;
  font-weight: 800;
  margin: 0px;
}

#Header-Texts p {
  z-index: 2;
  color: var(--MainColor);
  font-size: 1rem;
  margin-right: 0;
}

#Header-Texts #ShopNow-Button {
  margin-top: 2vw;
  text-align: right;
  z-index: 2;
  background-color: var(--AccentColor);
  color: white;
  font-size: 2rem;
  padding: 1vw 3vw;
  border: none;
  border-radius: 30px;
  font-family: Anybody;
}

#Header-Texts #ShopNow-Button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: var(--AccentColor);
  border-style: solid;
  border-width: 2px;
}

#First-Section {
  margin-top: 4vw;
  /* display: flex; */
  /* flex-flow: row; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
}

#First-Section h2 {
  font-size: 2.1rem;
  margin: 0;
  color: var(--MainColor);
}

#First-Section .Accent-Text {
  font-size: 4rem;
  color: var(--AccentColor);
}

#First-Section p {
  color: var(--MainColor);
  width: 50%;
  font-size: 1.2rem;
}

#Second-Section {
  margin-top: 0;
  /* display: flex; */
  /* flex-flow: row; */
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vw;
}

#Second-Section h2 {
  font-size: 2.1rem;
  margin: 0;
  color: var(--MainColor);
}

#Second-Section .Accent-Text {
  font-size: 4rem;
  color: var(--AccentColor);
}

#Second-Section p {
  color: var(--MainColor);
  width: 50%;
  font-size: 1.2rem;
  margin: 0 auto;
}

#ProductSectTitle {
  color: var(--MainColor);
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  width: 50%;
  text-align: center;
  margin-top: 6vw;
}

#ProductSection {
  width: 55%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2vw auto;
  justify-items: center;
  align-content: center;
}


@keyframes Pan-In {
  100% {
    transform: translateX(0);
    opacity: 100%;
  }

  0% {
    transform: translateX(-20%);
    opacity: 0%;
  }
}




/* CAROUSEL--------------------------------------------------------------------------------- */
.Carousel-Container {
  display: flex;
  flex-flow: row;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  padding-top: 2.3vw;
  padding-bottom: 2.3vw;
}

.Images-Container {
  display: flex;
  flex-flow: row;
  width: 100%;
  position: relative;
  /* overflow-x: hidden; */
  animation: Scrolling 15s ease-in-out infinite both
}

.Images-Container:hover {
  animation-play-state: paused;
}

.Images-Container img {
  width: 15vw;
  margin: 0px 1vw;
  border-radius: 2vw;
}

.Images-Container img:hover {
  animation: Expand .75s ease-in-out 1 alternate forwards;
}

#Left-Rect,
#Right-Rect {
  width: 20vw;
  height: 100%;
}

#Left-Rect {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255)30%, rgba(0, 128, 0, 0));
}

#Right-Rect {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255) 30%, rgba(255, 255, 0, 0));
}

@keyframes Expand {
  100% {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.384);
  }

  50% {
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.699);
  }

  10% {
    box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.897)
  }
}


@keyframes Scrolling {
  100% {
    transform: translateX(10%)
  }

  50% {
    transform: translateX(-20%)
  }

  0% {
    transform: translateX(10%)
  }
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */